
.badge-header {
   position:relative;
   overflow: visible !important;
}
.badge-header[data-badge]:after {
   top:-10px;
   right:-10px;
}

.badge-btn {
   position:relative;
   overflow: visible !important;
}

.searchBoxDiv{
 width:100%;
}

.searchBoxDiv input{
  font-size:40px;
}

.searchBoxDiv label{
  overflow:visible;
  font-size:40px;
  top:40px
}

.homeTabBarActive:after{
  height: 2px;
  width: 100%;
  display: block;
  content: " ";
  bottom: 0;
  left: 0;
  position: absolute;
  background: #3f51b5;
  -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
  animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
  -webkit-transition: all 1s cubic-bezier(.4,0,1,1);
  transition: all 1s cubic-bezier(.4,0,1,1);
}

.category-badge{
  margin:auto;
  padding:0px;
  margin-left:5px;
  clear:both;
}


.category-badge li{
  display: inline-block;
  margin: 0px 0px;
  padding: 0px 10px;
  line-height:14px;
  height:14px;
  list-style:none;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size:9px;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 20px;
}

.category-badge li a{
  color:#fff;
  text-decoration:none;
  font-weight:400;
}

.category-badge li:hover{
  color:#fff;
  text-decoration:underline;
}