html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.service-profile-cat{

}

.itcat-category > .mdl-card--expand {
  color:#fff;
}


.itcat-category > .mdl-card__supporting-text{
  height:130px;
}


.itcat-service > .mdl-card__supporting-text{
  height: 122px;

}

.service-attribute{
  margin-bottom:10px;

}

.service-attribute__title{
  font-weight:bold;

}

.service-attribute__value{

}

.mdl-card__supporting-text{
  color: rgba(0,0,0,.7);
  line-height:19px;

}
