html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.service-profile-cat{

}

.itcat-category > .mdl-card--expand {
  color:#fff;
}


.itcat-category > .mdl-card__supporting-text{
  height:130px;
}

.categories > .itcat-category > .mdl-card__supporting-text,
.provider > .itcat-category > .mdl-card__supporting-text,
.catalog > .itcat-category > .mdl-card__supporting-text{
  height:110px;
}


.itcat-service > .mdl-card__supporting-text{
  height: 122px;

}

.service-attribute{
  margin-bottom:10px;

}

.service-attribute__title{
  font-weight:bold;

}

.service-attribute__value p{
  color: rgba(0,0,0,.7);
  line-height: 19px;
  font-size: 13px;
}

.service-attribute__value li{
  list-style:none;
  color: rgba(0,0,0,.7);
  line-height: 19px;
  font-size: 13px;
}

.mdl-card__supporting-text{
  color: rgba(0,0,0,.7);
  line-height:19px;

}

.mdl-text-table {
   @extend .mdl-data-table;
   white-space: normal;

}
